**Solicitação Nº5**  
Para o armazenamento das informações da empresa de E-Commerce, é necessário criar um banco de dados
chamado “ecommerce” onde será realizado a criação das tabelas para consumo do power bi. A maneira de
importação é livre (via código SQL ou interface de importação), o banco deverá ter um usuário chamado
“teamvendas” com a senha “1q2w3e4r”, para consulta dos especialistas em SQL do time de vendas.

In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, text

**Conexão com o BD**

In [2]:
load_dotenv()  # Carrega variáveis do .env

endpoint = os.getenv("DB_ENDPOINT")
database = os.getenv("DB_NAME")
username = os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")

connection_string = (
    f"mssql+pyodbc://{username}:{password}@{endpoint}:1433/{database}"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&TrustServerCertificate=yes"
)
engine = create_engine(connection_string, fast_executemany=True)

**CREATE TABLE das tabelas do projeto**

In [3]:
ddl = """
CREATE TABLE dbo.fato_vendas (
    id_venda   INT           PRIMARY KEY,
    dtVenda    DATE          NOT NULL,
    cdVendedor INT           NOT NULL,
    cdProduto  INT           NOT NULL,
    cdCliente  INT           NOT NULL,
    valor      DECIMAL(10,2) NOT NULL
);
"""

try: 
    with engine.begin() as conn:
        conn.execute(text(ddl))
except Exception as e:
    print("Erro ao criar a tabela fato_vendas: \n", e)

Erro ao criar a tabela fato_vendas:
 (pyodbc.ProgrammingError) ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'fato_vendas' in the database. (2714) (SQLExecDirectW)")
[SQL:
CREATE TABLE dbo.fato_vendas (
    id_venda   INT           PRIMARY KEY,
    dtVenda    DATE          NOT NULL,
    cdVendedor INT           NOT NULL,
    cdProduto  INT           NOT NULL,
    cdCliente  INT           NOT NULL,
    valor      DECIMAL(10,2) NOT NULL
);
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [4]:
ddl = """
CREATE TABLE dbo.clientes (
    cdCliente  INT            PRIMARY KEY,
    Nome       VARCHAR(100)   NOT NULL,
    Pais       VARCHAR(50)    NOT NULL,
    Regiao     VARCHAR(50)    NOT NULL,
    Cidade     VARCHAR(50)    NOT NULL,
    Endereco   VARCHAR(150)   NOT NULL,
    Email      VARCHAR(100)   NOT NULL
);
"""

try:
    with engine.begin() as conn:
        conn.execute(text(ddl))
except Exception as e:
    print("Erro ao criar a tabela clientes: \n", e)

Erro ao criar a tabela clientes:
 (pyodbc.ProgrammingError) ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'clientes' in the database. (2714) (SQLExecDirectW)")
[SQL:
CREATE TABLE dbo.clientes (
    cdCliente  INT            PRIMARY KEY,
    Nome       VARCHAR(100)   NOT NULL,
    Pais       VARCHAR(50)    NOT NULL,
    Regiao     VARCHAR(50)    NOT NULL,
    Cidade     VARCHAR(50)    NOT NULL,
    Endereco   VARCHAR(150)   NOT NULL,
    Email      VARCHAR(100)   NOT NULL
);
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [5]:
ddl = """
CREATE TABLE dbo.produtos (
    cdProduto  INT   PRIMARY KEY,
    descProduto      VARCHAR(100)   NOT NULL,
    qtdEstoque       INT    NOT NULL
);
"""

try: 
    with engine.begin() as conn:
        conn.execute(text(ddl))
except Exception as e:
    print("Erro ao criar a tabela produtos: \n", e)

Erro ao criar a tabela produtos:
 (pyodbc.ProgrammingError) ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'produtos' in the database. (2714) (SQLExecDirectW)")
[SQL:
CREATE TABLE dbo.produtos (
    cdProduto  INT   PRIMARY KEY,
    descProduto      VARCHAR(100)   NOT NULL,
    qtdEstoque       INT    NOT NULL
);
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [8]:
ddl = """
CREATE TABLE dbo.vendedores (
    cdVendedor  INT   PRIMARY KEY,
    nome        VARCHAR(100)   NOT NULL
);
"""

try: 
    with engine.begin() as conn:
        conn.execute(text(ddl))
except Exception as e:
    print("Erro ao criar a tabela vendedores: \n", e)

Erro ao criar a tabela vendedores:
 (pyodbc.ProgrammingError) ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'vendedores' in the database. (2714) (SQLExecDirectW)")
[SQL:
CREATE TABLE dbo.vendedores (
    cdVendedor  INT   PRIMARY KEY,
    nome        VARCHAR(100)   NOT NULL
);
]
(Background on this error at: https://sqlalche.me/e/20/f405)