**Solicitação Nº5**  
Para o armazenamento das informações da empresa de E-Commerce, é necessário criar um banco de dados
chamado “ecommerce” onde será realizado a criação das tabelas para consumo do power bi. A maneira de
importação é livre (via código SQL ou interface de importação), o banco deverá ter um usuário chamado
“teamvendas” com a senha “1q2w3e4r”, para consulta dos especialistas em SQL do time de vendas.

In [15]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine, text

**Conexão com o BD**

In [16]:
load_dotenv()  # Carrega variáveis do .env

endpoint = os.getenv("DB_ENDPOINT")
database = os.getenv("DB_NAME")
username = os.getenv("DB_USERNAME")
password = os.getenv("DB_PASSWORD")

connection_string = (
    f"mssql+pyodbc://{username}:{password}@{endpoint}:1433/{database}"
    "?driver=ODBC+Driver+17+for+SQL+Server"
    "&TrustServerCertificate=yes"
)
engine = create_engine(connection_string, fast_executemany=True)

**CREATE TABLE das tabelas do projeto**

In [17]:
ddl = """
IF OBJECT_ID('dbo.fato_vendas', 'U') IS NOT NULL
    DROP TABLE dbo.fato_vendas;
;

CREATE TABLE dbo.fato_vendas (
    id_venda   INT           PRIMARY KEY,
    dtVenda    DATE          NOT NULL,
    cdVendedor INT           NOT NULL,
    cdProduto  INT           NOT NULL,
    cdCliente  INT           NOT NULL,
    valor      DECIMAL(10,2) NOT NULL
);
"""

with engine.begin() as conn:
    conn.execute(text(ddl))

In [18]:
ddl = """
IF OBJECT_ID('dbo.clientes', 'U') IS NOT NULL
    DROP TABLE dbo.clientes;
;

CREATE TABLE dbo.clientes (
    cdCliente  INT            PRIMARY KEY,
    Nome       VARCHAR(100)   NOT NULL,
    Pais       VARCHAR(50)    NOT NULL,
    Regiao     VARCHAR(50)    NOT NULL,
    Cidade     VARCHAR(50)    NOT NULL,
    Endereco   VARCHAR(150)   NOT NULL,
    Email      VARCHAR(100)   NOT NULL
);
"""

with engine.begin() as conn:
    conn.execute(text(ddl))

In [19]:
ddl = """
IF OBJECT_ID('dbo.produtos', 'U') IS NOT NULL
    DROP TABLE dbo.produtos;
;

CREATE TABLE dbo.produtos (
    cdProduto  INT   PRIMARY KEY,
    descProduto      VARCHAR(100)   NOT NULL,
    qtdEstoque       INT    NOT NULL
);
"""

with engine.begin() as conn:
    conn.execute(text(ddl))

In [20]:
ddl = """
IF OBJECT_ID('dbo.vendedor', 'U') IS NOT NULL
    DROP TABLE dbo.vendedor;
;

CREATE TABLE dbo.vendedor (
    cdVendedor  INT   PRIMARY KEY,
    nome        VARCHAR(100)   NOT NULL
);
"""

with engine.begin() as conn:
    conn.execute(text(ddl))